

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 5rem;
    width: 90%;
    margin: auto;
    
   
    z-index: 1;
    
    }

    .navbar a{
        font-size: 23px;
        font-weight: 550;
    }
.navbar a:hover{
    color: black;
    transform: scale(1.1);
    


}

.logo{
    height: 40px;
    width: 40px;
    border-radius: 3px;
    
}
.navbar-left {
    display: flex;
    align-items: center;
}
.navbar-left h2{
    font-size: 1.5rem;
    
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, rgb(6, 44, 115));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar-left h2 span {
    font-size: 3rem;
  }
.navbar-menu{
    list-style: none;
    display: flex;
    gap:20px;
    color: #49557e;
    font-size: 18px;
    text-transform: capitalize;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap:15px;
    
}
.navbar button{
    background: transparent;
    font-size: 16px;
color: #49557e;
border: 1px solid tomato;
padding: 8px 26px;
border-radius: 9px;
cursor: pointer;
transition: 1s;

            

}
.navbar button:hover{
    background-color: rgba(220, 8, 8, 0.3);

}
.navbar .active{
    padding-bottom: 2px;
    border-radius: 3px;
    border-bottom:3px solid #49557e;
}
.navbar li{
    cursor: pointer;
}
.navbar-right img{
    cursor: pointer;
    
}
@media (max-width:350px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap:20px;
        font-size: 17px;
    }
    .navbar-right{
        gap:30px;
    }
    .navbar-right img{
        width: 2px;
    }
    .navbar-right buttton{
        padding: 8px 25px;

    }
}
@media (max-width:900px) {
    .navbar{
        padding-bottom: 20px;
        
    }
    .navbar .logo{
        width: 40px;
    }
    .navbar-menu{
        gap:15px;
        font-size: 16px;
    }
    .navbar-right{
        gap:20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right buttton{
        padding: 8px 2px;
        font-size: 15px;

    }
    .navbar-left h2{
        font-size: 10px;
    }
}

@media (max-width:750px) {
    
    .navbar-menu{
        display: none;
    }
    
}
